@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('~assets/fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('~assets/fonts/OpenSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('~assets/fonts/OpenSans-Bold.ttf') format('truetype');
}

body {
  font-family: 'Open Sans', serif;
  background-color: #ffffff;
}

.container {
  width: 1260px;
  margin: auto;
}

.header {
  #logo {
    width: 160px;
    height: auto;
    display: inline-block;
  }
}
